{
    "env": {
        "node": true,
        "mocha": true
    },
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module"
    },
    "extends": [
       "eslint:recommended",
        "airbnb-base"
    ],
    "rules": {
        "no-underscore-dangle": "off",
        "object-curly-newline": "off",
        "radix": "off",
        "camelcase": "warn",
        "brace-style": ["error", "stroustrup", { "allowSingleLine": true }],
        "new-cap": ["error", { "newIsCap": false }],
        "max-len": "warn"
    }
}
